<!--The whole content below can be removed with the new code.-->
<div class="row">
    <div  class="col-sm-9">
        <a routerLink="/products" routerLinkActive="active">List</a>
        <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default" *ngIf="cart.length > 0">
            <div class="panel-heading">Cart</div>
            <div class="panel-body">
                <table class="table">
                    <tr *ngFor="let item of cart">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}$</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

